{% extends '::base.html.twig' %}

{% block body %}
    <h1>Actualite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{% if article.published %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
