{# Main menu #}

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
            <li>
                <a href="{{ path('app_index') }}">{{ 'accueil'|title }}</a>
            </li>
            <li>
                <a href="#">
                    {{ 'spectashop'|title }}
                </a>
            </li>
            <li>
                <a href="{{ path('actualites') }}">
                    {{ 'actualités'|title }}
                </a>
            </li>
            <li>
                <a href="{{ path('service_show') }}">
                    {{ 'nos services'|title }}
                </a>
            </li>
            <li>
                <a href="{{ path('about_us_show') }}">
                    {{ 'nos valeurs'|title }}
                </a>
            <li>
                <a href="{{ path('contact_new') }}">
                    {{ 'contact'|title }}
                </a>
            </li>
            {# Partie qui requiert des ACL (très minimaliste)#}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="{{ path('fos_user_profile_show')}}">
                        {{ 'profile'|title }}
                    </a>
                </li>

                {# Partie qui requiert des ACL (très minimaliste)#}
                {% if is_granted("ROLE_ADMIN") %}
                    <li>
                        <a href="{{ path('sonata_admin_dashboard') }}">
                            {{ 'administration'|title }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {# Toggle login/logout #}
            <li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </li>

    </ul>
 </div>

<div id="page-content-wrapper">
    <a href="#menu-toggle" id="menu-toggle">
        <span>Menu</span>
        <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </a>
</div>