{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock title %}

{% block body %}

<div class="container">
    <!--BIG TITLE-->
    <div class="row">
        <h1 class="text-center"><a href="{{ path('app_index') }}" class="logo"></a></h1>
    </div>
    <!-- FIN BIG TITLE-->
    <div class="row">
        <!--LARGE BOX-->
        <div class="col-lg-6 col-sm-12 box large_box">

            <img class="img-responsive" src="{{ asset('img/globals/image01.jpg') }}">
            <h2 class="box_title text-center">Catégorie</h2>
            <p class="box_text text-center">Vellem pudor decebat patiebatur quod.</p>
        </div>
        <!--FIN LARGE BOX-->
        <!-- SMALL BOX-->
        <div class="col-lg-3 col-sm-6 box small_box">
            <img class="img-responsive" src="{{ asset('img/globals/image02.jpg') }}">
            <div class="blank_bg">
                <h2 class="box_title text-center">Catégorie</h2>
                <p class="box_text text-center">Vellem pudor decebat patiebatur quod.</p>
            </div>
        </div>
        <!-- FIN SMALL BOX-->
        <!-- SMALL BOX-->
        <div class="col-lg-3 col-sm-6 box small_box">
            <img class="img-responsive" src="{{ asset('img/globals/image02.jpg') }}">
            <div class="blank_bg">
                <h2 class="box_title text-center">Catégorie</h2>
                <p class="box_text text-center">Vellem pudor decebat patiebatur quod.</p>
            </div>
        </div>
        <!-- FIN SMALL BOX-->
    </div>
    <div class="row">

        <!-- SMALL BOX-->
        <div class="col-lg-3 col-sm-6 box small_box">
            <img class="img-responsive" src="{{ asset('img/globals/image02.jpg') }}">
            <div class="blank_bg">
                <h2 class="box_title text-center">Catégorie</h2>
                <p class="box_text text-center">Vellem pudor decebat patiebatur quod.</p>
            </div>
        </div>
        <!-- FIN SMALL BOX-->
        <!-- SMALL BOX-->
        <div class="col-lg-3 col-sm-6 box small_box">
            <img class="img-responsive" src="{{ asset('img/globals/image02.jpg') }}">
            <div class="blank_bg">
                <h2 class="box_title text-center">Catégorie</h2>
                <p class="box_text text-center">Vellem pudor decebat patiebatur quod.</p>
            </div>
        </div>
        <!-- FIN SMALL BOX-->
        <!--LARGE BOX-->
        <div class="col-lg-6 col-sm-12 box large_box">

            <img class="img-responsive" src="{{ asset('img/globals/image01.jpg') }}">
            <h2 class="box_title text-center">Catégorie</h2>
            <p class="box_text text-center">Vellem pudor decebat patiebatur quod.</p>
        </div>
        <!--FIN LARGE BOX-->
    </div>
</div>

{% endblock body %}